@font-face {
    font-family: 'EudoxusSans-Bold';
    src: url(/fonts/eudoxus-sans/EudoxusSans-Bold.ttf);
}
@font-face {
    font-family: 'EudoxusSans-ExtraBold';
    src: url(/fonts/eudoxus-sans/EudoxusSans-ExtraBold.ttf);
}
@font-face {
    font-family: 'EudoxusSans-ExtraLight';
    src: url(/fonts/eudoxus-sans/EudoxusSans-ExtraLight.ttf);
}
@font-face {
    font-family: 'EudoxusSans-Lignt';
    src: url(/fonts/eudoxus-sans/EudoxusSans-Light.ttf);
}
@font-face {
    font-family: 'EudoxusSans-Medium';
    src: url(/fonts/eudoxus-sans/EudoxusSans-Medium.ttf);
}
@font-face {
    font-family: 'EudoxusSans-Regular';
    src: url(/fonts/eudoxus-sans/EudoxusSans-Regular.ttf);
}
@font-face {
    font-family: 'CourierPrime-Bold';
    src: url(/fonts/Courier_Prime/CourierPrime-Bold.ttf);
}
@font-face {
    font-family: 'CourierPrime-BoldItalic';
    src: url(/fonts/Courier_Prime/CourierPrime-BoldItalic.ttf);
}
@font-face {
    font-family: 'CourierPrime-Italic';
    src: url(/fonts/Courier_Prime/CourierPrime-Italic.ttf);
}
@font-face {
    font-family: 'CourierPrime-Regular';
    src: url(/fonts/Courier_Prime/CourierPrime-Regular.ttf);
}
@font-face {
    font-family: 'Gupter-Bold';
    src: url(/fonts/Gupter/Gupter-Bold.ttf);
}
@font-face {
    font-family: 'Gupter-Medium';
    src: url(/fonts/Gupter/Gupter-Medium.ttf);
}
@font-face {
    font-family: 'Gupter-Regular';
    src: url(/fonts/Gupter/Gupter-Regular.ttf);
}
@font-face {
    font-family: 'Courier-New';
    src: url(/fonts/courier-new/Courier-New-Italic.ttf);
}

*{
    margin: 0;
}
h1{
    font-size: 123px;
    text-align: center;
    font-family: 'Gupter-Regular';
    font-weight: 100;
    color: #7F4F06;
    max-width: 700px;
    margin: 0 auto;
    line-height: 0.9;
}
header{
    background-color: #2D2721;
    width: 100%;
}
header a{
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
}
section>div,
header>div,
footer>div{
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    margin: 0 auto;
    padding: 0 10px;
}
.home-div{
    flex-direction: column;
    padding-top: 100px;
    padding-bottom: 100px;
}
section{
    width: 100%;
    background-color: #FFFDF8;
}
header>div{
    flex-direction: row;
    justify-content: space-between;
    height: 60px;
    align-items: center;
}
.logo{
    font-family: 'Gupter-Regular';
}
nav>a{
    margin-left: 30px;
    font-family: 'EudoxusSans-ExtraLight';
    font-size: 12px;
}
.home-text{
    text-align: center;
    color: #5C5C5C;
    font-family: 'CourierPrime-Regular';
    max-width: 369px;
    margin: 0 auto;
    padding-top: 45px;
    padding-bottom: 50px;
    font-size: 16px;
}
.home-buttons{
    max-width: 700px;
    margin: 0 auto;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.home-buttons>a,
.home-projects-button{
    color: #5C5C5C;
    font-family: 'Courier-New';
    text-transform: uppercase;
    text-decoration: none;
    font-size: 25px;
}
.arrow-button{
    height: 25px;
    margin: 0 0 -6px 15px;
}
footer{
    background-color: black;
    color: white;
    margin-top: auto;
    width: 100%;
}
body{
    display: flex;
    flex-direction: column;
    height: 100dvh;
}
.home-projects{
    max-width: 1300px;
    padding: 0 30px 60px;
    display: block;
}
.home-projects-img{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}
.home-projects-img>img{
    width: 100%;
    border-radius: 40px;
}
.home-projects-button{
    grid-row: 3 / 3;
    grid-column: 3 / 3;
    padding-top: 20px;
}
.brown-section{
    background-color: #645C55;
}
.brown-section>div{
    padding: 80px 60px;
    max-width: 1100px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.our-mission-text{
    padding-right: 50px;
    max-width: 500px;
    width: 70%;
}
.our-mission-text>h3{
    font-family: 'Gupter-Regular';
    font-size: 70px;
    text-transform: uppercase;
    color: #FFFDF8;
    font-weight: 100;
    margin-bottom: 30px;
}
.our-mission-text>p{
    font-family: 'EudoxusSans-Lignt';
    font-size: 18px;
    color: #FFFDF8;
    margin-bottom: 30px;
}
.our-mission-img>img{
    border-radius: 16%;
    max-width: 100%;
    aspect-ratio: 1;
    object-fit: cover;
}
.our-mission-img{
    width: 30%;
    max-width: 500px;
}
.our-mission-text>a{
    color: #FFFDF8;
    font-family: 'Courier-New';
    text-transform: uppercase;
    text-decoration: none;
    font-size: 25px;
    padding-top: 10px;
    display: block;
}
@media only screen and (max-width: 768px){
    h1{
        font-size: 90px;
    }
    .home-div{
        padding-top: 80px;
        padding-bottom: 80px;
    }
    .home-text{
        max-width: 278px;
        font-size: 12px;
        padding-top: 35px;
        padding-bottom: 35px;
    }
    .home-buttons{
        max-width: 500px;
    }
    .home-buttons>a,
    .home-projects-button{
        font-size: 15px;
    }
    .arrow-button{
        height: 20px;
        margin: 0 0 -5px 10px;
    }
}    
@media only screen and (max-width: 425px){
    h1{
        font-size: 60px;
    }
    .home-div{
        padding-top: 60px;
        padding-bottom: 60px;
    }.home-text{
        max-width: 278px;
        font-size: 12px;
        padding-top: 30px;
        padding-bottom: 30px;
    }
    .home-buttons{
        max-width: 320px;
    }
    .home-buttons>a,
    .home-projects-button{
        font-size: 15px;
    }
    .arrow-button{
        height: 18px;
        margin: 0 0 -4px 10px;
    }
}
@media only screen and (max-width: 320px){
    h1{
        font-size: 50px;
    }
} 
